:root {
    --brand-primary: #121214;
    --brand-secondary: #202024;
    --white: #FFF;
    --shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
    --border-radius: 10px;
    --font-size-large: 80px;
    --font-size-medium: 30px;
    --font-size-small: 17px;
    --font-weight-bold: bolder;
    --text-color: #FFF;
}

.light-theme {
    --brand-primary: #ffffff;
    --brand-secondary: #f0f0f0;
    --white: #000;
    --text-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--brand-primary);
    color: var(--white);
}

.wrapper {
    width: 420px;
    background: var(--brand-secondary);
    border: 2px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    padding: 30px 40px;
    color: var(--white);
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .inputbox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inputbox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: var(--white);
    padding: 20px 45px 20px 20px;
}

.light-theme .inputbox input {
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.inputbox input::placeholder {
    color: var(--white);
}

.inputbox i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--white);
}

.light-theme .inputbox i,
.light-theme .inputbox input,
.light-theme .inputbox input::placeholder {
    color: var(--text-color);
}

.href {
    margin: 15px;
}

.href a {
    color: var(--white);
    text-decoration: none;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
    cursor: pointer;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: var(--white);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: var(--brand-primary);
    font-weight: 600;
}

.light-theme .wrapper .btn {
    color: var(--brand-secondary);
}

#imglogo {
    left: 0;
    top: 0;
    position: absolute;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 240px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-dark,
.logo-light {
    max-width: 100%;
    height: auto;
    display: none;
}

body:not(.light-theme) .logo-dark {
    display: block;
}

body.light-theme .logo-light {
    display: block;
}

body.light-theme .logo-dark {
    display: none;
}

.theme-switch-wrapper {
    position: fixed;
    top: 5%;
    right: 5%;
    display: flex;
    align-items: center;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f0f0f0;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #121214;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.theme-switch input+.slider:before {
    content: "☽";
    line-height: 26px;
    text-align: center;
    color: #FFF;
    background-color: #000;
    border-radius: 50%;
}

body.light-theme .theme-switch input+.slider:before {
    content: "☀︎";
    color: #000;
    background-color: #fff;
}

.dev {
    top: 97%;
    color: var(--text-color);
    font-weight: bold;
    display: flex;
    position: absolute;
}

@media (max-width: 768px) {
    #imglogo {
        width: 180px;
        height: 45px;
    }
}

@media (max-width: 480px) {
    #imglogo {
        width: 150px;
        height: 37.5px;
    }
}

@media (min-width: 1024px) {
    #imglogo {
        width: 300px;
        height: 75px;
    }
}

@media (min-width: 1920px) {
    #imglogo {
        width: 350px;
        height: 87.5px;
    }
}